<p id="notice"><%= notice %></p>

<p>
  <strong>Contact email:</strong>
  <%= @request.contact_email %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
